<?xml version="1.0" encoding="UTF-8"?>
<beans>	
	<!-- cartListController  등록 -->
	<bean name="/view/carts" class="kr.or.gobooke.cart.controller.CartListController"></bean>
	
	<!-- 관리자 관련 세부컨트롤러 등록 -->
	<bean name="/searchBookname" class="kr.or.gobooke.book.controller.BookNameController" /><!-- 북제목 리스트 -->
	
</beans>